body .bg {
    background: url('../img/bg.png') no-repeat top center;
}
.container .txtItem .title{
    background: url('../img/title.png') no-repeat center;
    background-size: contain;
}
.container .football {
    background: url('../img/footBall.png') no-repeat  center;
    background-size: contain;
}

.container .basketball {
    background: url('../img/basketball.png') no-repeat  center;
    background-size: contain;
}

.container .gear {
    background: url('../img/gear.png') no-repeat  center;
    background-size: contain;
}