body .bg {
    background: url('../img/bg.png') no-repeat center;
    background-size: cover;
}
main .txtItem .title {
    background: url('../img/title.png') no-repeat center;
    background-size: contain;
}
main .light1 {
    background: url('../img/light.png') no-repeat center;
    background-size: contain;
}

main .light2 {
    background: url('../img/light2.png') no-repeat center;
    background-size: contain;
}

main .light3 {
    background: url('../img/light3.png') no-repeat center;
    background-size: contain;
}

main .light4 {
    background: url('../img/light4.png') no-repeat center;
    background-size: contain;
}

main .football {
    background: url('../img/footBall.png') no-repeat  center;
    background-size: contain;
}

main .basketball {
    background: url('../img/basketball.png') no-repeat  center;
    background-size: contain;
}

main .gear {
    background: url('../img/gear.png') no-repeat  center;
    background-size: contain;
}