html {
    width: 100%;
    height: 100%;
    background: #d4d3d3;

    body {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .container {
            width: 1000px;
            height: 100%;
            margin: 0 auto;
            position: relative;

            .txtItem {
                position: absolute;
                top: 222px;
                left: 17px;

                .title {
                    width: 392px;
                    height: 128px;
                }

                p {
                    color: #001b47;
                    font-size: 24px;
                    text-align: end;
                    margin-top: 35px;
                    animation: lag 1.5s linear 0s infinite;
                }
            }

            // logo
            .logo {
                width: 500px;
                height: 383px;
                animation: top 1s linear 0.2s 1;
                animation-fill-mode: backwards;
                position: absolute;
                top: 123px;
                right: 0px;
            }

            .football {
                width: 283px;
                height: 279px;
                position: absolute;
                top: 608px;
                right: -65px;
                animation: float1 1.9s linear 0s infinite;
                
            }

            .basketball {
                width: 178px;
                height: 179px;
                position: absolute;
                top: 432px;
                left: -115px;
                animation: float1 2.1s linear 0s infinite;
            }

            .gear {
                width: 136px;
                height: 140px;
                position: absolute;
                top: 30px;
                right: -35px;
                animation: lag 0.4s linear 0s, gear 3s linear 0s infinite;
                
            }
        }

        .bg {
            width: 100%;
            height: 100%;
            min-width: 1000px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -99;
        }
    }

}


@keyframes ball1 {
    0%{
        opacity: 0;
        transform: translateX(150%) translateY(-100%) scaleX(0.5) scaleY(1.5);
    }
    67%{
        transform: translateX(10%) translateY(30%) scaleX(1.1) scaleY(0.5);
    }
    100%{
        opacity: 1;
        transform: translateX(0%) translateY(0%) scale(1);
    }
}

@keyframes ball2 {
    0%{
        opacity: 0;
        transform: translateX(-1000%) translateY(-100%);
    }
    40%{
        transform: translateX(-70%) translateY(-70%) scale(.8);
    }
    80%{
        transform: translateX(-10%) translateY(-10%) scale(1.1);
    }
    100%{
        opacity: 1;
        transform: translateX(0%) translateY(0%) scale(1);
    }
}

@keyframes gear {
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}


@keyframes lag {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes float1 {
    0% {
        transform: translateY(-10%);
    }
    25% {
        transform: translateY(0%) scaleY(0.9)scaleX(1.1);
    }
    40% {
        transform: translateY(-20%);
    }
    65% {
        transform: translateY(0%) scaleY(0.9) scaleX(1.1);
    }
    100% {
        transform: translateY(-10%);
    }
}
